<template>
  <v-container class="mb-4">
    <v-layout justify-center>
      <h2 class="display-2 my-3">📑 Order detail 📑</h2>
    </v-layout>
    <v-layout justify-center>
      <v-card
        class="pa-4 ma-3"
        width="250"
      >
        <h3 class="mb-3">Client info:</h3>
        <p>
          <strong>Name:</strong>
          {{ order.name }}
        </p>
        <p>
          <strong>Address:</strong>
          {{ order.address }}
        </p>
        <h3 class="mb-3">Pizza info:</h3>
        <p>
          <strong>Pizza size:</strong>
          {{ order.size }}
        </p>
        <div v-if="!order.ingredients.length">
          <p>There's no extra ingredients</p>
        </div>
        <div class="mb-2" v-else>
          <strong>Ingredients</strong>
          <ul>
            <li
              class="my-1"
              :key="ingredient"
              v-for="ingredient in order.ingredients"
            >
              {{ ingredient }}
            </li>
          </ul>
        </div>
        <h3>
          <strong>Total:</strong>
          ${{ order.total }}
        </h3>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios';

  export default {
    created () {
      this.getOrder()
    },
    data: () => ({
      order: {}
    }),
    methods: {
      getOrder () {
        axios.get('/orders')
          .then(response => {
            this.order = response.data
              .find(order => order.id === this.$route.params.id);
          })
          .catch(console.error)
      }
    }
  }
</script>
