<template>
  <v-container class="mb-4">
    <v-layout justify-center>
      <h2 class="display-2 my-3">🍕 Build your pizza! 🍕</h2>
    </v-layout>
    <v-layout justify-center>
      <v-flex xs12 sm6>
        <v-form ref="form" v-model="valid" lazy-validation>
          <fieldset class="mt-4 place-order__fieldset">
            <legend class="headline">Customer data:</legend>
            <v-text-field
              v-model="customer.name"
              :rules="nameRules"
              label="Name *"
              required
            />
            <div class="place-order__address">
              <v-text-field
                v-model="customer.address"
                :rules="addressRules"
                label="Address *"
                required
              />
              <v-btn
                color="pink"
                dark
                @click="getLocation"
              >
                <v-icon left dark>location_on</v-icon>
                Get location
              </v-btn>
            </div>
            <v-text-field
              mask="phone"
              :rules="phoneRules"
              v-model="customer.phone"
              label="Phone *"
              required
            />
          </fieldset>
          <fieldset class="mt-4 place-order__fieldset">
            <legend class="headline">Pizza size:</legend>
            <v-radio-group v-model="pizzaSize">
              <v-radio
                v-for="size in sizes"
                :key="size.id"
                :label="`${size.name} size`"
                :value="size"
              ></v-radio>
            </v-radio-group>
          </fieldset>
          <fieldset class="mt-4 place-order__fieldset">
            <legend class="headline">Additional ingredients:</legend>
            <v-select
              :items="additionalIngredients"
              v-model="selectedAdditionalIngredients"
              multiple
              attach
              chips
              label="Additional ingredients"
              item-text="name"
              return-object
            />
          </fieldset>
          <v-btn
            color="primary"
            :disabled="!valid"
            @click="submit"
          >
            Submit order
          </v-btn>
        </v-form>
      </v-flex>
    </v-layout>
    <v-layout
      class="my-4"
      justify-center
      v-if="viewDetailUrl"
    >
      <v-btn
        color="secondary"
        large
        :to="viewDetailUrl"
      >
        View detail
      </v-btn>
    </v-layout>
    <v-snackbar
      v-model="orderSuccess"
      :bottom="true"
    >
      <span>
        <strong>Great!</strong>
        Your order was accepted successfully
      </span>
      <v-btn
        color="pink"
        flat
        @click="orderSuccess = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
  import axios from 'axios';
  import uuidv4 from 'uuid/v4';

  export default {
    data: () => ({
      additionalIngredients: [
        {
          amount: 1,
          id: 'extra-cheese',
          name: 'Extra cheese $1',
        },
        {
          amount: 2,
          id: 'anchioves',
          name: 'Anchioves $2',
        },
        {
          amount: 1,
          id: 'pineapple',
          name: 'Pineapple $1',
        },
        {
          amount: 1,
          id: 'onions',
          name: 'Onions $1',
        },
        {
          amount: 5,
          id: 'caviar',
          name: 'Caviar $5',
        },
        {
          amount: 10,
          id: 'kobe beef',
          name: 'Kobe beef $10'
        }
      ],
      addressRules: [
        v => !!v || 'Address is required',
      ],
      customer: {
        address: '',
        name: '',
        phone: ''
      },
      nameRules: [
        v => !!v || 'Address is required',
      ],
      orderSuccess: false,
      phoneRules: [
        v => !!v || 'Phone is required',
        v => (v && v.length >= 9) || 'Phone must at least 9 characters'
      ],
      pizzaSize: {
        id: 'small',
        name: 'Small $5',
        value: 5
      },
      selectedAdditionalIngredients: [],
      sizes: [
        {
          id: 'small',
          name: 'Small $5',
          value: 5
        },
        {
          id: 'medium',
          name: 'Medium $8',
          value: 8
        },
        {
          id: 'large',
          name: 'Large $11',
          value: 1
        },
      ],
      valid: true,
      viewDetailUrl: ''
    }),
    methods: {
      getLocation() {
        this.$getLocation()
        .then(coordinates => {
          this.customer.address = `${coordinates.lat},${coordinates.lng}`;
        })
      },
      submit () {
        if (this.$refs.form.validate()) {
          axios.post('/orders', {
            "id": uuidv4(),
            "name": this.customer.name,
            "address": this.customer.address,
            "phone": this.customer.phone,
            "size": this.pizzaSize.name,
            "ingredients": this.selectedAdditionalIngredients
              .map(ingredient => ingredient.name),
            "total": this.pizzaSize.value +
              this.selectedAdditionalIngredients
                .map(ingredient => ingredient.amount)
                .reduce((acc, current) =>
                  acc + current
                , 0)
          })
            .then(response => {
              if (response.status === 201) {
                this.orderSuccess = true;
              }
              this.viewDetailUrl = `/order/${response.data.id}`
              this.$refs.form.reset();
            })
            .catch(console.error)
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>
.place-order
  &__address
    display flex

  &__fieldset
    border none
</style>

