<template>
  <v-container class="mb-4">
    <v-layout justify-center>
      <h2 class="display-2 my-3">📊 Stats 📊</h2>
    </v-layout>
    <v-layout justify-center>
      <v-card
        class="pa-4 ma-3"
        width="480"
      >
        <p>
          <strong>Popular ingredients:</strong>
          <GChart
            type="PieChart"
            :data="[
              ['Ingredient', 'Number of orders'],
              ...ingredients
            ]"
            :options="chartOptions"
          />
        </p>
        <p>
          <strong>Average order total:</strong>
          ${{ average || '0' }}
        </p>
        <p>
          <strong>Most valuable customer:</strong>
          {{ bestClient }}
        </p>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios';
  import { GChart } from 'vue-google-charts'

  export default {
    components: {
      GChart
    },
    created () {
      this.getOrders()
    },
    data: () => ({
      average: 0,
      bestClient: '',
      charOptions: {
        chart: {
          title: 'Popular ingredients'
        }
      },
      orders: [],
      popularIngredients: {},
      ingredients: []
    }),
    methods: {
      getMostCommon(list) {
        const keyCounts = {};
        let topCount = 0;
        let topKey = {};
        list.forEach((item, val) => {
          keyCounts[item] = keyCounts[item] + 1 || 1;
          if (keyCounts[item] > topCount) {
            topKey = item;
            topCount = keyCounts[item];
          }
        });
        return topKey;
      },
      getOrders () {
        axios.get('/orders')
          .then(response => {
            this.orders = response.data
          })
          .then(() => {
            this.average = (
              this.orders
                .map(order => order.total)
                .reduce((acc, current) =>
                  acc + current
                , 0) / this.orders.length
              ).toFixed(2);

            this.bestClient = this.getMostCommon(
              this.orders.map(order => order.name)
            )

            this.popularIngredients = this.orders
              .map(order => order.ingredients)
              .reduce((acc, current) => acc.concat(current), [])
              .map(ingredient => ingredient.replace('$', '').replace(/\d/g, ''))
              .reduce((obj, item) => {
                if(!obj[item]) {
                  obj[item] = 0;
                }
                obj[item]++;
                return obj;
              }, {})

            this.ingredients = Object.entries(this.popularIngredients)
            console.log({i: this.ingredients})
          })
          .catch(console.error)
      }
    }
  }
</script>
