<template>
  <v-container class="mb-4">
    <v-layout justify-center>
      <h2 class="display-2 my-3">📑 Orders 📑</h2>
    </v-layout>
    <v-layout>
      <v-text-field
        class="mx-2"
        label="Search by name"
        v-model="nameFilter"
      />
      <v-text-field
        class="mx-2"
        label="Search by address"
        v-model="addressFilter"
      />
    </v-layout>
    <v-layout v-if="!orders.length" justify-center wrap>
      <p>
        There's no orders yet
      </p>
    </v-layout>
    <v-layout v-else justify-center wrap>
      <v-card
        v-for="order in orders
          .filter(order =>
            order.name.includes(nameFilter) &&
            order.address.includes(addressFilter)
          )
        "
        :key="order.id"
        class="pa-4 ma-3"
        width="240"
      >
        <p>
          <strong>Name:</strong>
          {{ order.name }}
        </p>
        <p>
          <strong>Address:</strong>
          {{ order.address }}
        </p>
        <div class="text-xs-center mb-3">
          <v-btn
            color="pink"
            dark
            :href="`https://www.google.com/maps/preview?q=${order.address}`"
            small
            target="_blank"
            v-if="order.address.includes(',') && /\d/.test(order.address)"
          >
            View in map
            <v-icon right dark>map</v-icon>
          </v-btn>
        </div>
        <p>
          <strong>Total:</strong>
          ${{ order.total }}
        </p>
        <v-btn
          color="secondary"
          :to="`/order/${order.id}`"
        >
          View order
        </v-btn>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios';

  export default {
    created () {
      this.getOrders()
    },
    data: () => ({
      addressFilter: '',
      nameFilter: '',
      orders: []
    }),
    methods: {
      getOrders () {
        axios.get('/orders')
          .then(response => {
            this.orders = response.data;
          })
          .catch(console.error)
      }
    }
  }
</script>
