<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <h1 class="headline font-weight-bold">🍕 L'ultima Cena Pizzeria!</h1>
      </v-toolbar-title>
      <v-spacer />
      <span>❤️ Made with love by Carlos Viteri ❤️</span>
      <v-spacer />
      <v-btn
        color="primary"
        to="/"
      >
        <span>Build your pizza!</span>
      </v-btn>
      <v-btn
        color="primary"
        to="/view-orders"
      >
        <span>View orders</span>
      </v-btn>
      <v-btn
        color="primary"
        to="/stats"
      >
        <span>Stats</span>
      </v-btn>
    </v-toolbar>
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
/* import HelloWorld from './components/HelloWorld'

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  data () {
    return {
      //
    }
  }
} */
</script>
